* {
    box-sizing: border-box;
}

#container {
    display: flex;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    width: 960px;
}

.square {
    border: 1px solid black;
}
 
.square:hover {
    background-color: red;
    cursor: pointer;
}
